* {
  margin: 0%;
  padding: 0%;
  font-size: 16px;
}

#navbar {
  background-color: white;
  width: 100%;
  height: 150px;
  border: 3px solid black;
}
#sidebar {
  background-color: white;
  width: 14%;
  height: 700px;
  display: inline-block;
  vertical-align: top;
  border: 2px solid black;
  padding-left: 1%;
}
#content {
  background-color: white;
  width: 65%;
  height: 700px;
  display: inline-block;
  padding-left: 1%;
}
#sidey {
  background-color: white;
  width: 17.9%;
  height: 700px;
  display: inline-block;
  vertical-align: top;
  border: 3px solid black;
}
#footer {
  background-color: white;
  width: 100%;
  height: 150px;
  border: 3px solid black;
}
.box-f {
  background-color: white;
  border: 5px solid black;
  width: 210px;
  height: 225px;
  display: inline-block;
  border-radius: 10px;
  padding-left: 1%;
}
